# Import required packages
# none so far
# Load dynamic libraries (shared object files)
useDynLib(rslow5)
# Export functions defined in R code
export("rslow5_load")
export("rslow5_open")
export("rslow5_header")
export("rslow5_get_next")
export("rslow5_get")
export("rslow5_close")
export("rslow5_idx_load")
export("rslow5_idx_unload")
